/* ==========================================================================
HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ==========================================================================
Author's custom styles
========================================================================== */

body, button, input, select, textarea { font-family: "Lora", sans-serif; color: #444; }

h1, h2, h3, h4 {
  font-weight: 900;
  font-family: "Lora", serif;
}

body {
  /* Without the antialiased property, the font seems unnaturally big on Chrome on Mac. */
  -webkit-font-smoothing: antialiased;
  background-color: #DC8673;
  background: url('../img/background.jpg');
  margin-top: 20px;
  margin-bottom: 20px;
}

hr {
  border-top: 1px solid #8C8;
  border-bottom: 1px solid #FFD;
  height: 0px;
}

blockquote:before {
  font-size: 100px;
  position: absolute;
  content: '\201C';
  left: -15px;
  top: -20px;
  font-family: "Lato", serif;
}

blockquote:after {
  position: absolute;
  font-size: 100px; 
  content: '';
  right: 0px;
  bottom: -30px;
  font-family: "Lato", serif;
}

blockquote {
  position: relative;
  font-family: Georgia, serif;
  font-style: italic;
  margin: 10px;
  padding: 15px 50px;
  text-align: justify;
  font-size: 14px;
}

#loader-container {
  width: 960px;
  margin: 0 auto;
  height: 42px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.01)
}

#loader-box {
  display: inline-block;
  width: 32px;
  height: 42px;
  padding: 15px;
  border-radius: 3px;
  margin-top: 200px;
  background-color: #DAEAC3;
  border: 1px solid rgba(0, 100, 0, 0.7);
}

#loader {
  width: 32px;
  height: 32px;
  background: url('../img/loader.gif') no-repeat center center; 
}

#loader-percentage {
  font-family: Georgia, sans-serif;
  color: rgba(100, 0, 0, 0.5);
}

.no-js #loader-container {
  display: none;
}

#container {
  background-color: #DDECC5;
  background: url('../img/backgrounddeer.jpg');
  border: 1px solid rgba(100, 0, 0, 0.5);
  border-radius: 5px;
  box-shadow: inset 0px 0px 3px rgba(255, 255, 99, 0.85);
  margin: 0 auto;
  position: relative;
  width: 960px;
  display: none;
}

.no-js #container {
  display: block;
}

/* Elaborate frame for the border. Using image slicing to reduce resource consumption. */
.container-border {
  background-image: url('../img/border.png');
  background-repeat: no-repeat;
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: 40;
}

#container-border-top-left {
  background-position: 0px 0px;
  left: -5px;
  top: -5px;
}

#container-border-top-right {
  background-position: -60px 0px;
  right: -5px;
  top: -5px;
}

#container-border-bottom-left {
  background-position: 0px -60px;
  bottom: -5px;
  left: -5px;
}

#container-border-bottom-right {
  background-position: -60px -60px;
  bottom: -5px;
  right: -5px;
}
/* ------------------------------------------------------------------------------------ */

#lotus-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 425px;
  height: 500px;
  background: url('../img/lotus.png') no-repeat bottom right;
  border-radius: 5px;
  z-index: 2;
}

#main {
  width: 659px;
  float: left;
}

.home #heading-container {
  margin-top: 150px;
  height: 150px;
  width: 660px;
}

.home #heading {
  background: url('../img/name.png') no-repeat center;
  height: 150px;
  width: 660px;
}

.other #heading-container {
  float: left;
  margin-top: 13px;
  margin-left: 20px;
}

.other #heading {
  background: url('../img/name2.png') no-repeat center left;
  height: 75px;
  width: 485px;
}

#page-heading:before {
  content: ' ';
  position: absolute;
  top: -5px;
  left: 0px;
  display: block;
  border-right: 5px solid rgba(90, 0, 0, 0.6);
  border-top: 5px solid transparent;
}

#page-heading {
  position: relative;
  background: url('../img/coraltexture.png');
  color: #DDEE92;
  display: inline-block;
  font-family: "Fondamento";
  font-size: 1.4em;
  left: -6px;
  margin-bottom: 30px;
  position: relative;
  text-shadow: 0px 1px 0px rgba(90, 0, 0, 0.3);
  top: 10px;
  padding-left: 25px;
  width: 550px;
  height: 28px;
}

#page-heading:after {
  opacity: 0.93;
  content: ' ';
  background: url('../img/coraltexturefade.png') no-repeat; 
  position: absolute;
  right: -200px;
  top: 0px;
  display: block;
  float: right;
  width: 200px;
  height: 28px;
}

/* Menu */
.nav {
  font-family: "Fondamento", serif;
  font-size: 1em;
  color: #DDEE92;
  text-align: center;
}

.nav ul {
  margin: 0;
  background: url('../img/coraltexture.png');
}

.nav li {
  list-style: none;
  display: inline-block;
  position: relative;
  -webkit-transition: background-color .15s linear .1s;
  transition: background-color .15s linear .1s;
}

.nav li:hover {
  background-color: rgba(150, 30, 30, 0.3);
}

.nav li li {
  font-size: 14px;
  display: block;
  font-family: "Lora", sans-serif;
  text-align: left;
  border-bottom: 1px dotted #DDEE78;
}

.nav a {
  color: #DDEE92;
  display: block;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgba(90, 0, 0, 0.3);
  -webkit-transition: color .15s linear;
  transition: color .15s linear;
}

.nav a:hover {
  color: white;
}

.nav li ul {
  border-top: 1px solid #B50;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
  padding: 0px 0px 5px 0px;
  position: absolute;
  min-width: 150px;
}

.nav li:hover ul {
  display: block;
}

.nav li li {
}

.nav li li:last-child {
  border-bottom: none;
}

/* Home */
.home .nav-container {
  margin-top: 160px;
  margin-bottom: 45px;
  height: 34px;
}

.home .nav {
  width: 800px;
}

.home .nav > ul {
  height: 34px;
  padding: 0px 30px 0px 10px;
  width: 640px;
}

.home .nav > ul > li {
  font-size: 18px;
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
}

.home .nav > ul > li a {
  padding: 3px 10px 5px 10px;
}

.home .nav a {
  z-index: 40;
}

.home .nav ul li.list-divider {
  padding: 3px 10px 5px 10px;
}

.home .nav ul li.list-divider:hover {
  background-color: transparent;
}

.home .nav li ul {
  font-size: 14px;
  top: 34px;
  left: 0;
}

/* Other */
.other .nav {
  float: right;
  margin: 32px 25px 10px 0px;
}

.other .nav > ul {
  border-radius: 5px;
  height: 32px;
  padding: 0px 5px;
}

.other .nav > ul > li {
  border-right: 1px dotted #DDEE92;
}

.other .nav > ul > li:last-child {
  border-right: none;
}

.other .nav li a {
  padding: 5px 15px;
}

.other .nav li a:hover {
  color: white;
}

.other .nav li ul {
  top: 32px;
  left: 0;
}

/* Content */
#content {
  font-size: 14px;
  min-height: 400px;
  background-color: rgba(255, 255, 222, 0.6);
  border: 1px solid #FFB;
  margin: 5px 24px 33px 24px;
  border-radius: 5px;
}

.full-width {
  width: 840px;
  padding: 0 35px;
}

.paragraph-width {
  width: 560px;
  padding: 0 175px;
}

.one-third {
  width: 260px;
  padding: 10px;
}

#main-footer {
  padding: 10px;
}

#copyright-footer {
  color: #DDEE92;
  font-size: 14px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(90, 0, 0, 0.3);
  width: 910px;
  display: none;
}

.no-js #copyright-footer {
  display: block;
}

/* About Section */

#about-section {
  text-align: justify;
}

#profile-photo {
}

#profile-photo img {
  margin: 20px;
  margin-top: 0px;
  margin-left: 0px;
  float: left;
  box-shadow: 0px 0px 10px 0px rgba(0, 25, 0, 0.7); 
}

#about-description {
  margin-left: 220px;
}

#message {
  font-style: italic;
}

.collection-list {

}

/* Press Section */
ul.press-gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

.press-gallery li {
  width: 220px;
  height: 250px;
  float: left;
  display: block;
  padding: 0px 30px 30px 30px;
  vertical-align: middle;
  text-align: center;
}

.press-gallery-entry-text {
  padding-top: 5px;
  height: 30px;
}

.press-gallery li a {
  display: inline-block;
  position: relative;
  z-index: 0;
}

.press-gallery li img {
  max-width: 220px;
  max-height: 220px;
  box-shadow: 0px 0px 10px 0px rgba(0, 25, 0, 0.7); 
}

.press-gallery li img:hover {
}


#press-left-side {
  float: left;
  width: 390px;
  margin-left: 15px;
  padding: 0 10px;
}

#press-right-side {
  margin-left: 15px;
  /* margin-left: 410px; 
  width: 409px; 
  border-left: 1px solid #8C8;
*/
  padding: 0px;
}

#press-grid {
  min-height: 300px;
}

#press-grid ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 5px;
}

#press-grid li {
  position: relative;
  display: inline-block;
  width: 125px;
  height: 125px;
  padding-right: 10px;
  padding-bottom: 10px;
}

#press-grid li a {
  display: inline-block;
  width: 125px;
  height: 125px;
  overflow: hidden;
}

#press-grid img {
  position: relative;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

/* Contact Section */
#contact-section {

}

.contacts {
  margin: 0;
  padding: 0;
  list-style: none;

}

.contacts li {
  text-align: center;
  vertical-align: top;
  display: inline-block;
}

.contact-details {
  display: inline-block;
}

.contact-box {
  border: 1px solid #8C8;
  border-radius: 3px;
  height: 30px;
  vertical-align: middle;
  background-color: rgba(255, 255, 155, 0.1);
  padding-top: 25px;
  padding-bottom: 25px;
}

#contact-twitter .contact-box a {
  visibility: hidden;
}
.no-js #contact-twitter .contact-box a {
  visibility: visible;
}

#contact-email .contact-box a {
  text-decoration: none;
  /* Keeping it similar to Facebook. */
  color: #3b5998;
}

#contact-email .contact-box a:hover {
  text-decoration: underline;
}

.fb-like-box {
  border: 1px solid #8C8;
  border-radius: 3px;
  height: 80px;
  vertical-align: middle;
  background-color: rgba(255, 255, 155, 0.1);
  width: 235px;
  padding-left: 25px;
}

/* Collection styling */
.collection {

}

.collection hr {
  height: 0px;
  border-top: 1px solid #afa;
  border-bottom: 1px solid #ada;
}

.collection-content {
  padding-right: 10px;
  width: 290px;
  float: left;
}

.collection-header {
  font-size: 1.5em;
  text-decoration: italic;
}

.collection-text {

}

.collection-images {
  width: 300px;
  float: right;
}

.collection-images a {
  float: left;
  display: block;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.collection-images a img {
  width: 150px;

}















/* ==========================================================================
Media Queries
========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

}

/* ==========================================================================
Helper classes
========================================================================== */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
Print styles
========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
