<div id="press-section" class="full-width">
  <div id="press-left-side">
    <div id="press-gallery-header">
      <h3>{{ page.header }}</h3>
    </div>
    <hr />
    <div id="press-description">
      <p>
        {{ page.description }}
      </p>
    </div>
  </div>
  <div id="press-right-side">
    <div id="press-grid">
      <ul>
        {% for image in page.images %}<li>
        <a href="/images/press/{{ page.images_folder }}/{{ image.name }}" class="fresco" data-fresco-group="grid" {% if image.caption %}data-fresco-caption="{{ image.caption }}"{% endif %}><img src="/images/press/{{ page.images_folder }}/{{ image.name }}" /></a>
        </li>{% endfor %}      
      </ul>
    </div>
  </div>
</div>
