---
layout: default
---
<div id="container">
  <div id="background-container">
    <div id="main">
      <header id="heading" class="ir">
        <h1>{{ site.title }}</h1>
        <h2>{{ site.subtitle}}</h2>
      </header>
      <div id="page-heading">
        <span>{{ page.title }}</span>
      </div>
      <div id="content" role="main">
        {{ content }}
      </div>
    </div>
    <div id="side">
      <ul class="side-list">
        <li>
        <a href="index.html">
          <span>Home</span>
        </a>
        </li>      
        <li>
        <a href="about.html">
          <span>About</span>
        </a>
        </li>                                                                                                                                   
        <li>
        <a href="collections.html">
          <span>Collections</span>
        </a>
        </li>
        <li>
        <a href="press.html">
          <span>Press</span>
        </a>
        </li>

        <li>
        <a href="contact.html">
          <span>Contact</span>
        </a>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <footer id="main-footer">
      <div class="clearfix"></div>
    </footer>
  </div>
</div>
<footer id="copyright-footer">
  <div id="copyright">
    <span>&copy; Mrinalini Chandra. All rights reserved.</span>
  </div>
</footer>
